html {
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom right, #AEBAF8, #9600FF );
}

.title {
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 1px #fff;
    font-weight: bold;
}

.bigbutton {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: rgb(129, 129, 129);
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.403);
    transition: color .2s;
    margin: 20px;
}

p {
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    transition: color .2s;
    transition: background-color .2s;
}

.link {
    font-size: 20px;
}

.link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.456);
}

.bigbutton:hover {
    color: rgb(255, 255, 255);
}

.header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text {
    font-family: Inter, Roboto, Open Sans, and Poppins;
    font-size: 30px;
    margin: 20px;
}

/* @keyframes moveText{
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.animation {
    opacity: 0;
    transform: translateY(50px);
    animation: moveText linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
} */

.imgchunk1 {
    position: absolute;
    top: 20px;
    right: 20px;
}

.cover {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chunk {
    position: relative;
}

.bottom-fade {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, transparent, white);
  pointer-events: none;
}

.content {
  height: 90vh;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(to bottom,  black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.right {
    text-align: right;
}

.endgap {
    height: 100px;
}

.port {
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

.folio {
    color: black;
    font-size: 100px;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
}
