html {
    scroll-behavior: smooth;
}

h1.a {
    text-align: center;
    font-size: 70px;
}

div.space {
    height: 100px;
}

ul.Topics {
    font-size: 20px;
}

div.bigGap {
    height: 100%;
}

button {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: rgb(129, 129, 129);
    border-width: 2px;
    border-radius: 2px;
    background-color: rgb(215, 215, 215)
}

.link1 {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: rgb(129, 129, 129);
    background-color: rgb(215, 215, 215);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.403);
    transition: color .2s;
}

p {
    font-style: italic;
}

.noUnderLine {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    transition: color .2s;
    transition: background-color .2s;
}

.link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.456);
}

.link1:hover {
    color: rgb(255, 255, 255);
}

.linkHolder {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}